apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nextcloud-ingress
  namespace: {{ nextcloud_namespace }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: "Host(`{{ nextcloud_hostname }}`)"
      kind: Rule
      services:
        - name: nextcloud
          port: 80
{% if enable_tls | default(true) %}
  tls:
{% if enable_cert_manager | default(false) %}
    secretName: {{ certificate_secret_name }}
{% else %}
    certResolver: {{ cert_resolver | default('letsencrypt') }}
{% endif %}
{% endif %}
